.DS_Store
._*
.Trash*
$*

# Backup files
*.sw[g-p]
*.bak
*~
*#

# IDEs
*.as3proj
.buildpath
.c9revisions/
.cproject
.project
.idea/
.settings*
.metadata/
nbproject/

# Generated
/components/
/node_modules/

# Specific to this project
/.build/
